{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "requireConfigFile": false,
      "babelOptions": {
        "babelrc": false,
        "configFile": false
      }
    },
    "env": {
      "browser": true,
      "node": true,
      "es2020": true
    },
    "plugins": ["n"],
    "extends": ["eslint:recommended", "plugin:n/recommended"],
    "rules": {
      "indent": ["error", 2],
      "semi": ["error", "always"],
      "no-console": ["off"],
      "no-underscore-dangle": [0],
      "n/exports-style": ["error", "module.exports"]
    },
    "globals": {}
}
