{
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true
    },
    "plugins": ["node"],
    "extends": ["eslint:recommended", "plugin:node/recommended"],
    "rules": {
      indent: ["error", 2],
      semi: [error],
      "no-console": ["off"],
      no-underscore-dangle: [0],
      "node/exports-style": ["error", "module.exports"],
    },
    "global": {}
}
